$custom-colors: (
  "bolghera": (
    hsla(30, 100%, 50%, 1),
    rgba(255, 255, 255, 1),
  ),
);

@import "~bulma/bulma.sass";
@import "punteggio.scss";
@import "roster.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.partita {
  .campionato {
    margin-right: 1rem;
  }
  .tag {
    font-weight: bold;
  }
}
